@import "_variables";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

*:focus,
*:hover {
  outline: none;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.minus_m_b {
  margin-bottom: -1px;
}

.minus_m_t {
  margin-top: -2px;
}

.minus_m_r {
  margin-right: -2px;
}

.minus_m_l {
  margin-left: -2px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #727272;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #727272;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #727272;
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: 0;
}

br {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1116px !important;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1116px !important;
  }
}
