@import "_variables";

.button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 40px;
  padding: 17px 24px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;

  @media screen and (max-width: 768px) {
    padding: 11px 24px;
  }

  &.orchid {
    color: #ffffff;
    background-color: $highlight;
  }

  &.white {
    background-color: white;
    color: #7b3fc7;
  }

  &.w_148 {
    width: 148px;
  }

  &:hover {
    &.orchid {
      background-color: #60319d;
      transition: all 0.3s;
    }
  }

  &:hover {
    &.white {
      background-color: #f2ecf9;
      transition: all 0.3s;
    }
  }

  span {
    position: relative;
    z-index: 1;
  }
}
