// Desktop Header
.navbar__wrapper {
  position: fixed;
  top: 32px;
  width: 100%;
  z-index: 999;
  .nav_wrap {
    transition: width 0.6s;
    border-radius: 24px;

    @media screen and (max-width: 991px) {
      overflow: hidden;
    }

    // nav bar desktop view

    .nav_d_wrapper {
      transition: all 0.5s;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav_logo {
        width: 100%;
        max-width: 178px;
        @media screen and (max-width: 425px) {
          max-width: 118px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
      .nav_list_d_wrapper {
        // transition: all 0.5s;
        display: flex;
        align-items: center;
        gap: 28px;
        padding: 16px;
        border: 1px solid #e1e1e5;
        backdrop-filter: blur(10px);
        background-color: #ffffffb2;
        border-radius: 24px;

        @media screen and (max-width: 991px) {
          background-color: transparent;
          border: 0px solid transparent;
          backdrop-filter: unset;
          padding: 0;
        }

        ul {
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;
          gap: 20px;

          @media screen and (max-width: 991px) {
            display: none;
          }

          li {
            a {
              color: $dark_blue;
              &:focus {
                color: #7b3fc7;
                font-weight: 500;
              }
              &:hover {
                color: #7b3fc7;
                font-weight: 500;
              }
            }

            .nav_link_a {
              padding: 8px;
            }

            .nav_dropdown {
              width: 564px;
              transform: translate(-200px, 70px) !important;
              border-radius: 24px;
              padding: 24px;
              .navDrop_list_area {
                gap: 20px 0;
                .navDrop_list_title {
                  // padding: 8px 16px 16px 16px;
                  padding-bottom: 8px;
                  border-bottom: 1px solid #e1e1e5;
                  div {
                    display: inline-block;

                    a {
                      gap: 6px;
                      font-size: 18px;
                      line-height: 24px;
                      font-weight: 500;
                      color: $primary;
                      padding: 8px 16px;
                      border-radius: 8px;
                      transition: all 0.3s;

                      img {
                        width: 11px;
                        height: 11px;
                      }
                      &:hover {
                        transition: all 0.3s;
                        background-color: $light_orchid;
                      }
                    }
                  }
                }
                .navDrop_list {
                  padding-top: 24px;
                  display: grid;
                  gap: 16px;
                  .navDrop_listing {
                    padding: 8px;
                    gap: 10px;
                    transition: all 0.3s;
                    .navDrop_listImg {
                      width: 30px;
                      height: 30px;
                      border-radius: 50%;
                      background-color: #e1e1e5;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      transition: all 0.3s;
                      img {
                        transition: all 0.3s;
                      }
                    }
                    p {
                      margin: 0px;
                      color: #0c1722;
                      font-size: 16px;
                      line-height: 24px;
                      transition: all 0.3s;
                    }
                    &:hover {
                      transition: all 0.3s;
                      border-radius: 8px;
                      background-color: $light_orchid;
                      .navDrop_listImg {
                        background-color: $highlight;
                        img {
                          filter: invert(1);
                        }
                      }
                      p {
                        font-weight: 500;
                      }
                    }
                  }
                }
              }
            }
            .nav_dropdown2 {
              width: 248px;
              transform: translate(-65px, 70px) !important;
              .navDrop_list {
                padding-top: 0px !important;
              }
            }

            .nav_dropdown_arrow {
              display: none;
            }
            .show {
              display: block;
            }
          }
          .active_nav {
            color: #7b3fc7;
            font-weight: 500;
          }
        }
        .nav_btn {
          background-color: $highlight;
          padding: 14px 24px;
          border-radius: 46px;
          color: white;
          font-weight: 500;
          position: relative;
          overflow: hidden;
          transition: all 0.3s;

          @media screen and (max-width: 991px) {
            display: none;
          }

          &:hover {
            background-color: #9565d2;
            transition: all 0.3s;
          }
          span {
            position: relative;
            z-index: 1;
          }
        }
        .nav_manu_btn {
          background-color: transparent;
          outline: none;
          display: none;
          @media screen and (max-width: 991px) {
            display: block;
          }
          @media screen and (max-width: 425px) {
            width: 24px;
            height: 24px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }

    // nav bar mobile view

    .nav_list_m_wrapper {
      overflow-y: auto;
      overflow-x: hidden;
      ul {
        margin: 0;
        display: grid;
        gap: 20px;
        padding: 30px 0;
        li {
          font-size: 24px;
          line-height: 31px;
          a {
            margin: 0px;
            color: $primary;
            padding: 8px 16px;
            display: block;
          }
          .nav_dropdown_link {
            position: relative;
            display: block;
            &::after {
              position: absolute;
              right: 16px;
              top: 30%;
              width: 24px;
              height: 24px;
            }
            &.show {
              background-color: white;
            }
          }
          .nav-m-dropList_wrap {
            position: static !important;
            transform: none !important;
            border: 0px;
            .navDropM_list_title {
              padding-top: 20px;
              border-bottom: 1px solid #e1e1e5;
              a {
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                gap: 6px;
              }
            }
            .navDropM_list {
              padding-top: 24px;
              display: grid;
              gap: 16px;
              .navDropM_listing {
                padding: 8px;
                gap: 10px;
                transition: all 0.3s;
                .navDropM_listImg {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: #e1e1e5;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: all 0.3s;
                  img {
                    transition: all 0.3s;
                  }
                }
                p {
                  margin: 0px;
                  color: #0c1722;
                  font-size: 16px;
                  line-height: 24px;
                  transition: all 0.3s;
                }
              }
            }
            .navDropM_list2 {
              padding: 20px 8px;
            }
          }
        }
      }
      .button {
        margin: 0px 16px;
      }
    }

    .nav_list_close {
      height: 100%;
      max-height: 0px;
      transition: all 0.3s;
    }
    .nav_list_open {
      max-height: 77vh;
      transition: all 0.5s;
    }

    // nav down arrow
    .nav_dropdown_link {
      &::after {
        background-image: url(/assets/img/navbar/down-arrow.svg);
        width: 12px;
        height: 12px;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        vertical-align: middle;
        transition: all 0.4s;
      }

      &.show {
        &::after {
          transform: rotate(180deg);
        }
        .blur_backdround {
          display: block;
        }
      }
    }
  }
}

.active {
  transition: all 0.5s;

  .nav_wrap {
    width: 926px;
    @media screen and (max-width: 1024px) {
      width: 860px;
    }

    @media screen and (max-width: 991px) {
      width: 100%;
    }
    margin: 0px auto;
    border: 1px solid #e1e1e5;
    backdrop-filter: blur(50px);
    background-color: #ffffffb2;
    padding: 16px 0;

    .nav_d_wrapper {
      padding: 0px 16px;
      .nav_list_d_wrapper {
        background-color: transparent;
        border: 0px solid transparent;
        backdrop-filter: unset;
        padding: 0;
      }
    }
  }
}

.blur_background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  background: #35304c33;
  backdrop-filter: blur(2px);
  display: none;
}

.show_blury {
  display: block;
}
