<footer class="footer__wrapper">
  <div class="footer_area">
    <div class="container">
      <div class="foot_contact_wrap">
        <div class="foot_contact">
          <h2>
            Drive value and savings with our unparalleled compassionate tech
            solutions and services
          </h2>
          <a href="javascript:" class="button white"><span>Contact us</span></a>
        </div>
      </div>
      <div class="footer_contain d-flex flex-lg-row flex-column">
        <div class="footer_contain_1">
          <div class="footer_logo">
            <img src="/assets/img/navbar/Logo.webp" alt="" />
          </div>
          <p>Technology enabled, integrated care.</p>
        </div>
        <div class="footer_contain_2 row gy-4">
          <div class="col-lg-3 col-6">
            <h5>Technology</h5>
            <ul>
              <li><a href="javascript:void(0)">Data Integration</a></li>
              <li><a href="javascript:void(0)">Information Services</a></li>
              <li><a href="javascript:void(0)">Data Enrichment</a></li>
              <li><a href="javascript:void(0)">Patient Portal</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-6">
            <h5>Service</h5>
            <ul>
              <li><a href="javascript:void(0)">Account Executives</a></li>
              <li><a href="javascript:void(0)">Risk Coders</a></li>
              <li><a href="javascript:void(0)">Care Managers </a></li>
              <li><a href="javascript:void(0)">Care Navigators</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-6">
            <h5>About</h5>
            <ul>
              <li><a href="javascript:void(0)">Our Story</a></li>
              <li><a href="javascript:void(0)">Leadership</a></li>
              <li><a href="javascript:void(0)">Careers</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-6">
            <h5>Customers</h5>
            <ul>
              <li><a href="javascript:void(0)">Healthcare Providers</a></li>
              <li><a href="javascript:void(0)">Healthcare Payers</a></li>
            </ul>
          </div>
        </div>
        <div class="footer_contain_3 d-flex">
          <div class="footer_certification">
            <img src="/assets/img/footer/Certification.webp" alt="" />
          </div>
          <div class="footer_certification">
            <img src="/assets/img/footer/Certification2.webp" alt="" />
          </div>
          <div class="footer_certification">
            <img src="/assets/img/footer/Certification2.webp" alt="" />
          </div>
          <div class="footer_certification">
            <img src="/assets/img/footer/Certification2.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
