<header class="navbar__wrapper">
  <div class="container">
    <div class="nav_wrap">
      <div class="nav_d_wrapper">
        <!-- logo  -->
        <a href="/" class="nav_logo">
          <img src="/assets/img/navbar/Logo.webp" alt="" />
        </a>

        <!-- nav list desktop -->
        <div class="nav_list_d_wrapper">
          <ul>
            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle nav_dropdown_link nav_link_a"
                id="nav_dropdown1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Solutions</a
              >

              <!-- drop down  -->
              <div
                class="dropdown-menu nav_dropdown nav_dropdown_arrow"
                aria-labelledby="nav_dropdown1"
              >
                <div class="row navDrop_list_area">
                  <div class="col-12">
                    <div class="navDrop_list_title">
                      <div>
                        <a
                          href="/guardian-solution.html"
                          class="d-flex align-items-center"
                        >
                          Guardian Solutions
                          <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="navDrop_list_title">
                      <div>
                        <a
                          href="/tech-solution.html"
                          class="d-flex align-items-center"
                        >
                          Technology
                          <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="navDrop_list">
                      <a
                        href="/data-integrations.html"
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img
                            src="/assets/img/navbar/Integration.svg"
                            alt=""
                          />
                        </div>
                        <p>Data Integration</p>
                      </a>
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Services.svg" alt="" />
                        </div>
                        <p>Information Services</p>
                      </a>
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Enrichment.svg" alt="" />
                        </div>
                        <p>Data Enrichment</p>
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="navDrop_list_title">
                      <div>
                        <a href="" class="d-flex align-items-center">
                          Services
                          <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                        </a>
                      </div>
                    </div>
                    <div class="navDrop_list">
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Account.svg" alt="" />
                        </div>
                        <p>Account Executives</p>
                      </a>
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Coders.svg" alt="" />
                        </div>
                        <p>Risk Coders</p>
                      </a>
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Managers.svg" alt="" />
                        </div>
                        <p>Care Managers</p>
                      </a>
                      <a
                        href=""
                        class="navDrop_listing d-flex align-items-center"
                      >
                        <div class="navDrop_listImg">
                          <img src="/assets/img/navbar/Navigators.svg" alt="" />
                        </div>
                        <p>Care Navigators</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="dropdown">
              <a
                href="javascript:void(0)"
                class="dropdown-toggle nav_dropdown_link nav_link_a"
                id="nav_dropdown2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Customers</a
              >

              <!-- drop down  -->
              <div
                class="dropdown-menu nav_dropdown nav_dropdown2 nav_dropdown_arrow"
                aria-labelledby="nav_dropdown2"
              >
                <div class="row navDrop_list_area">
                  <div class="navDrop_list">
                    <a
                      href="/customers.html"
                      class="navDrop_listing d-flex align-items-center"
                    >
                      <div class="navDrop_listImg">
                        <img src="/assets/img/navbar/Account.svg" alt="" />
                      </div>
                      <p>Providers</p>
                    </a>
                    <a
                      href=""
                      class="navDrop_listing d-flex align-items-center"
                    >
                      <div class="navDrop_listImg">
                        <img src="/assets/img/navbar/Coders.svg" alt="" />
                      </div>
                      <p>Payers</p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li><a href="/about.html" class="nav_link_a">About us</a></li>
            <li><a href="/resources.html" class="nav_link_a">Resources</a></li>
          </ul>
          <a href="/contact-us.html" class="nav_btn"><span>Contact us</span></a>

          <!-- nav list mobile -->
          <button class="nav_manu_btn">
            <img src="/assets/img/navbar/menu.svg" alt="" />
          </button>
        </div>
      </div>

      <!-- nav list mobile -->
      <div class="nav_list_m_wrapper nav_list_close">
        <ul>
          <li class="dropdown">
            <a
              href="javascript:void(0)"
              class="dropdown-toggle nav_dropdown_link"
              id="nav_MobileDrop1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Solutions</a
            >
            <div
              class="dropdown-menu nav-m-dropList_wrap nav_dropdown_arrow"
              aria-labelledby="nav_MobileDrop1"
            >
              <div class="row nav-m-dropList justify-content-end">
                <div class="col-12">
                  <div class="navDropM_list_title">
                    <a
                      href="/guardian-solution.html"
                      class="d-flex align-items-center"
                    >
                      Guardian Solutions
                      <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                    </a>
                  </div>
                </div>
                <div class="col-11">
                  <div class="navDropM_list_title">
                    <a
                      href="/tech-solution.html"
                      class="d-flex align-items-center"
                    >
                      Technology
                      <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                    </a>
                  </div>
                  <div class="navDropM_list">
                    <a
                      href="/data-integrations.html"
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Integration.svg" alt="" />
                      </div>
                      <p>Data Integration</p>
                    </a>
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Services.svg" alt="" />
                      </div>
                      <p>Information Services</p>
                    </a>
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Enrichment.svg" alt="" />
                      </div>
                      <p>Data Enrichment</p>
                    </a>
                  </div>
                </div>
                <div class="col-11">
                  <div class="navDropM_list_title">
                    <a
                      href="/guardian-solution.html"
                      class="d-flex align-items-center"
                    >
                      Services
                      <img src="/assets/img/navbar/nav-arrow.svg" alt="" />
                    </a>
                  </div>
                  <div class="navDropM_list">
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Account.svg" alt="" />
                      </div>
                      <p>Account Executives</p>
                    </a>
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Coders.svg" alt="" />
                      </div>
                      <p>Risk Coders</p>
                    </a>
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Managers.svg" alt="" />
                      </div>
                      <p>Care Managers</p>
                    </a>
                    <a
                      href=""
                      class="navDropM_listing d-flex align-items-center"
                    >
                      <div class="navDropM_listImg">
                        <img src="/assets/img/navbar/Navigators.svg" alt="" />
                      </div>
                      <p>Care Navigators</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a
              href="javascript:void(0)"
              class="dropdown-toggle nav_dropdown_link"
              id="nav_MobileDrop2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Customers</a
            >
            <div
              class="dropdown-menu nav-m-dropList_wrap nav_dropdown_arrow"
              aria-labelledby="nav_MobileDrop2"
            >
              <div class="nav-m-dropList">
                <div class="navDropM_list navDropM_list2">
                  <a
                    href="/customers.html"
                    class="navDropM_listing d-flex align-items-center"
                  >
                    <div class="navDropM_listImg">
                      <img src="/assets/img/navbar/Account.svg" alt="" />
                    </div>
                    <p>Providers</p>
                  </a>
                  <a
                    href="/customers.html"
                    class="navDropM_listing d-flex align-items-center"
                  >
                    <div class="navDropM_listImg">
                      <img src="/assets/img/navbar/Coders.svg" alt="" />
                    </div>
                    <p>Payers</p>
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li><a href="/about.html">About us</a></li>
          <li><a href="/resources.html">Resources</a></li>
        </ul>
        <a href="javascript:" class="button orchid"><span>Contact us</span></a>
      </div>
    </div>
  </div>
</header>
