.contact_hero_wrapper {
  .about_hero_contain {
    max-width: 736px;
    p {
      max-width: 628px;
      margin: 0 auto;
    }
  }
}

.contact_form_wrapper {
  .careerD_form_area {
    .careerD_form_contain {
      @media screen and (max-width: 767px) {
        padding: 24px 16px;
      }
    }
  }
}

.success_submit_wrapper {
  padding: 80px;
  border-radius: 40px;
  background-color: #f2ecf9;
  @media screen and (max-width: 991px) {
    padding: 40px;
    @media screen and (max-width: 767px) {
      padding: 16px;
      border-radius: 20px;
    }
  }
  .success_submit_area {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    height: 553px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 767px) {
      height: 328px;
      padding: 16px;
    }
    .ssa_contain {
      text-align: center;
      max-width: 370px;
      margin: 0px auto;
      h2 {
        font-size: 40px;
        line-height: 52px;
        margin: 0;
        font-weight: 500;
        color: $primary;
        margin: 0;
      }
      p {
        font-size: 18px;
        line-height: 23px;
        color: black;
        margin: 0;
        padding-top: 24px;
      }
      @media screen and (max-width: 767px) {
        h2 {
          font-size: 32px;
          line-height: 41px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          // padding-top: 32px;
        }
      }
    }
  }
}
